<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Application</title>
</head>
<body>
    <div class="form-container">
        <form [formGroup]="studentExamForm" (ngSubmit)="onSubmit()">
            <h1>Exam Application</h1>
            
            <div class="form-section">
                <h2>Personal Details</h2>
                <div class="form-grid">
                    <div>
                        <label for="name">Name</label>
                        <input id="name" formControlName="name">
                    </div>
                    <div>
                        <label for="date_of_birth">Date of Birth</label>
                        <input id="date_of_birth" type="date" formControlName="date_of_birth">
                    </div>
                    <div>
                        <label for="pincode">Gender</label>
                        <select id="pincode" formControlName="gender">
                            <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input id="email" type="email" formControlName="email">
                    </div>
                    <div>
                        <label for="phone_number">Phone Number</label>
                        <input id="phone_number" formControlName="phone_number">
                    </div>
                    <div>
                        <label for="aadharno">Aadhar Number</label>
                        <input id="aadharno" formControlName="aadharno">
                    </div>
                    <div>
                        <label for="address">Address</label>
                        <input id="address" formControlName="address">
                    </div>
                    <div>
                        <label for="country">Country</label>
                        <select id="country" formControlName="country" >
                            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="state">State</label>
                        <select id="state" formControlName="state">
                            <option *ngFor="let state of states" [value]="state">{{state}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="address">Pincode</label>
                        <input id="address" formControlName="pincode">
                    </div>
                </div>
            </div>
            
            <div class="form-section">
                <h2>Degree Details</h2>
                <div class="form-grid">
                    <div>
                        <label for="level">Level</label>
                        <input id="level" formControlName="degreeLevel">
                    </div>
                    <div>
                        <label for="board">Board</label>
                        <select id="board" formControlName="degreeBoard">
                            <option *ngFor="let board of boards" [value]="board">{{board}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="roll_no">Roll Number</label>
                        <input id="roll_no" formControlName="degreeRoll_no">
                    </div>
                    <div>
                        <label for="school_college_name">School/College Name</label>
                        <input id="school_college_name" formControlName="degreeCollegeName">
                    </div>
                    <div>
                        <label for="year_of_passing">Year of Passing</label>
                        <input id="year_of_passing" type="number" formControlName="degreeYop">
                    </div>
                    <div>
                        <label for="percentage_cgpa">Percentage/CGPA</label>
                        <input id="percentage_cgpa" formControlName="degreePercentage">
                    </div>
                    <div>
                        <label for="specialization">Specialization</label>
                        <input id="specialization" formControlName="DegreeSpecialization">
                    </div>
                    <div>
                        <label for="certificate">Upload Degree Certificate</label>
                        <input id="certificate" type="file" (change)="onFileChange($event, 'DegreeCertificate')">
                    </div>
                </div>
            </div> 

            <div class="form-section">
                <h2>12th Details</h2>
                <div class="form-grid">
                    <div>
                        <label for="level">Level</label>
                        <input id="level" formControlName="InterLevel">
                    </div>
                    <div>
                        <label for="board">Board</label>
                        <select id="board" formControlName="InterBoardoard">
                            <option *ngFor="let board of countries" [value]="board">{{board}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="roll_no">Roll Number</label>
                        <input id="roll_no" formControlName="interRollNo">
                    </div>
                    <div>
                        <label for="school_college_name">School/College Name</label>
                        <input id="school_college_name" formControlName="interCollegeName">
                    </div>
                    <div>
                        <label for="year_of_passing">Year of Passing</label>
                        <input id="year_of_passing" type="number" formControlName="interYop">
                    </div>
                    <div>
                        <label for="percentage_cgpa">Percentage/CGPA</label>
                        <input id="percentage_cgpa" formControlName="interPercentage">
                    </div>
                    <div>
                        <label for="specialization">Specialization</label>
                        <input id="specialization" formControlName="interSpecialization">
                    </div>
                    <div>
                        <label for="certificate">Upload !2th Certificate</label>
                        <input id="certificate" type="file" (change)="onFileChange($event, 'interCertificate')">
                    </div>
                </div>
            </div>

            <div class="form-section">
                <h2>10th Details</h2>
                <div class="form-grid">
                    <div>
                        <label for="level">Level</label>
                        <input id="level" formControlName="sscLevel">
                    </div>
                    <div>
                        <label for="board">Board</label>
                        <select id="board" formControlName="sscBoard">
                            <option *ngFor="let board of countries" [value]="board">{{board}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="roll_no">Roll Number</label>
                        <input id="roll_no" formControlName="sscRoll_no">
                    </div>
                    <div>
                        <label for="school_college_name">School/College Name</label>
                        <input id="school_college_name" formControlName="sscSchoolName">
                    </div>
                    <div>
                        <label for="year_of_passing">Year of Passing</label>
                        <input id="year_of_passing" type="number" formControlName="sscYop">
                    </div>
                    <div>
                        <label for="percentage_cgpa">Percentage/CGPA</label>
                        <input id="percentage_cgpa" formControlName="sscPercentage">
                    </div>
                    <div>
                        <label for="certificate">Upload SSC Certificate</label>
                        <input id="certificate" type="file" (change)="onFileChange($event, 'sscCertificate')">
                    </div>
                </div>
            </div>

            <div class="form-section">
                <h2>SELECT COURSE AND COLLEGE</h2>
                <div class="form-grid">
                    <div>
                        <label for="college">Select college</label>
                        <select id="college" formControlName="college" (change)="onCollegeChange($event)">
                            <option *ngFor="let college of colleges"  [value]="college">{{college}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="course">Select Course</label>
                        <select id="course" formControlName="course">
                            <option *ngFor="let course of courses" [value]="course">{{course}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="center1">Choose Exam center-1</label>
                        <select id="center1" formControlName="center1">
                            <option *ngFor="let center of centers" [value]="center">{{center}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="center2">Choose Exam center-1</label>
                        <select id="center2" formControlName="center2">
                            <option *ngFor="let center of centers" [value]="center">{{center}}</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            
            <div class="form-section">
                <h2>Upload Documents</h2>
                <div class="form-grid">
                    <div>
                        <label for="adhar">Adhar Upload</label>
                        <input id="adhar" type="file" (change)="onFileChange($event, 'adhar')">
                    </div>
                    <div>
                        <label for="photo">Photo Upload</label>
                        <input id="photo" type="file" (change)="onFileChange($event, 'photo')">
                    </div>
                    <div>
                        <label for="signature">Signature Upload</label>
                        <input id="signature" type="file" (change)="onFileChange($event, 'signature')">
                    </div>
                </div>
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
