<p>Dear {{name}},</p>

<p>We are pleased to inform you that your application with following ID {{applicationId}} has been approved. Congratulations on this achievement!</p>

<p>Best regards,<br>Admissions Office</p>