<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
  </head>
  <body>
    <h1>Welcome, {{username}}!</h1>
    <p>Thank you for registering</p>
    <p>Please Login for Register</p>
  </body>
</html>
