<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="title-container" fxFlex="70">
    <h1>University Registration</h1>
  </div>
  <div class="profile-container" fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
    <img src="assets/profile.jpg" alt="Profile Image" class="profile-image" (click)="toggleMenu()">
    <div class="menu" *ngIf="menuVisible">
      <button (click)="showTabs()">Edit Profile</button>
    </div>
  </div>
</div>

<mat-tab-group *ngIf="tabsVisible" [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange($event.index)">
  <mat-tab label="Student Personal Details">
    <div class="tab-content" fxLayout="column" fxLayoutGap="10px">
      <!-- Personal Details Content Here -->
      <p>Personal Details</p>
    </div>
  </mat-tab>
  <mat-tab label="Student Address Details">
    <div class="tab-content" fxLayout="column" fxLayoutGap="10px">
      <!-- Personal Details Content Here -->
      <p>Address Details</p>
    </div>
  </mat-tab>
  <mat-tab label="Student Educational Details">
    <div class="tab-content" fxLayout="column" fxLayoutGap="10px">
      <!-- Personal Details Content Here -->
      <p>Educational Details</p>
    </div>
  </mat-tab>
  <mat-tab label="Student Course Details">
    <div class="tab-content" fxLayout="column" fxLayoutGap="10px">
      <!-- Educational Details Content Here -->
      <p>Course Details</p>
    </div>
  </mat-tab>
  <mat-tab label="Student Document Details">
    <div class="tab-content" fxLayout="column" fxLayoutGap="10px">
      <!-- Document Details Content Here -->
      <p>Document Details</p>
    </div>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
